menu-popover-1 {
    /*
    .roundedInput {
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }

    .letraMinusculaNormal {
        text-transform: none;
        font-weight: normal;
    }
    */

}

